[submodule "external/gsplat"]
	path = external/gsplat
	url = git@github.com:PrometheosFire/gsplat.git
[submodule "external/Difix3D+"]
	path = external/Difix3D+
	url = git@github.com:nv-tlabs/Difix3D.git
[submodule "external/ncore"]
	path = external/ncore
	url = https://github.com/NVIDIA/ncore.git
[submodule "external/sam3"]
	path = external/sam3
	url = git@github.com:facebookresearch/sam3.git
